<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<servlet>
		<servlet-name>FrontController</servlet-name>
		<servlet-class>graphsimul.app.GraphSimulServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/graphsimul</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<description>Database URL</description>
		<param-name>db_url</param-name>
		<param-value>mp4-6.dyndns.info</param-value>
	</context-param>
	
	<context-param>
		<description>Database User</description>
		<param-name>db_user</param-name>
		<param-value>postgres</param-value>
	</context-param>
	
	<context-param>
		<description>Database Password</description>
		<param-name>db_pass</param-name>
		<param-value>livre2009#</param-value>
	</context-param>
	
	<context-param>
		<description>Database Type</description>
		<param-name>db_type</param-name>
		<param-value>chiron</param-value>
	</context-param>
	
	<context-param>
		<description>Working directory directory for the workflow activities.</description>
		<param-name>WORKING_DIR</param-name>
		<param-value>/home/ogasawara/Eigen/</param-value>
	</context-param>
</web-app>
